<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">HandiHelp</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/" :exact="true">
                            <span class="glyphicon glyphicon-home"></span> Accueil
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dmla">
                            <span class="glyphicon glyphicon-eye-open"></span> DMLA
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/cataracte">
                            <span class="glyphicon glyphicon-list-alt"></span> Cataracte
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/daltonisme">
                            <span class="glyphicon glyphicon-eye-open"></span> Daltonisme
                        </router-link>
                    </li>
                    <li>
                        <a class="deco" href="http://handihelp/">Déconnexion</a>
                        <p style="color: white; text-align: center;">© Copyright 2021 - HandiHelp </p>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <div class="instagram">
                    <a href="https://www.instagram.com/handihelp_workshop/"><img src="../../images/instagram.png"></a>
                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/handi-help-25a670222/"><img src="../../images/linkedin.png"></a>
                </div>
                <div class="facebook">
                    <a href="https://www.facebook.com/profile.php?id=100073285131212"><img src="../../images/facebook.png"></a>
                </div>
            </div>
        </div>
    </div>
</template>
<style src="./navmenu.css"></style>
