<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">HandiHelp</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <router-link to="/" :exact="true">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dmla">
                            <span class="glyphicon glyphicon-eye-open"></span> DMLA
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/cataracte">
                            <span class="glyphicon glyphicon-list-alt"></span> Cataracte
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css"/>
