
  <template>
    <div>
        <div class="container">
            <div class="texte">
                <h1 class="titre">Cataracte</h1>
                <div class="description">
                    <p>
                        C’est l’opacification partielle ou totale du cristallin, lentille convergente située à l’intérieur de l’œil. Cette opacification est responsable d’une baisse progressive de la vue, au début accompagnée de gêne à la lumière.
                    </p>
                    <button class="btn btn-primary" v-on:click="changeDef()">Changer la définition</button>
                </div>
            </div>
            
            <div class="image">
                <section v-if="definition == '0'">
                    <h2>def1</h2>
                    <input v-on:click="changeDef" type="image" src="../../../image/Newletter_cataract.jpg" alt="">
                </section>
                <section v-if="definition == '1'">
                    <h2>def2</h2>
                    <input v-on:click="changeDef" type="image" src="../../../image/Newletter_cataract.jpg" alt="">
                </section>
            </div>
        </div>
    </div>
</template>
    <script src="./daltonisme.ts"></script>


