<template>
    <div>
        <div class="container">
            <div class="texte">
            <h1 class="titre">Cataracte</h1>
            <div class="description">
                <p class="text-justify">
                    La <span style="font-weight: bold;">cataracte</span> est l’opacification partielle ou totale du 
                    cristallin (lentille convergente située à l’intérieur de l’œil). Cette opacification est responsable 
                    d’une baisse progressive de la vue, au début accompagnée de gêne à la lumière.
                    <br><br><span style="font-weight: bold;">Pour en savoir plus</span><br> 
                    L’âge est la principale cause de survenue de la cataracte. En fait, la cataracte est la conséquence 
                    d’un processus de vieillissement normal humain (les primates ne sont d’ailleurs pas les seuls à 
                    présenter des cataractes). Tout être humain aura naturellement une cataracte pourvu qu’il vive 
                    suffisamment pour cela. Son premier symptôme se manifeste en principe vers l’âge de 45 ans. C’est la 
                    presbytie.
                </p>
                <br>
                <p><span style="font-weight: bold;">Atelier</span></p>
                <button class="btn btn-primary" v-on:click="changeDef()">Voir avec la cataracte</button>
            </div>
            
            </div>
            <div class="image">
                <img v-if="definition" class="img" src="../../images/Newletter_cataract.jpg">
                <img v-if="!definition" class="img" src="../../images/brochure.png">
            </div>
        </div>
    </div>
</template>
<style src="./cataracte.css"></style>
<style src="../../css/site.css"></style>
<script src="./cataracte.ts"></script>