<template>
    <div>
        <h1>
            Cataracte
        </h1>
        <p>
            C’est l’opacification partielle ou totale du cristallin, lentille convergente située à l’intérieur de l’œil. Cette opacification est responsable d’une baisse progressive de la vue, au début accompagnée de gêne à la lumière.
        </p>
        <div class="image">
            <img src="../../../image/Newletter_cataract.jpg">
        </div>
    </div>
</template>
<script src="./cataracte.ts"></script>
<style src="./cataracte.css"/>