<template>
    <div> 
        <div class="container" style="margin-top: 150px;">
            <div class="texte">
                <h1 class="titre">
                    Qui sommes-nous ?
                </h1>
                <br>
                <p class="text-justify text-accueil">
                    <span style="font-weight: bold; padding:0 0 0 60px;">   HandiHelp</span> veut pouvoir répondre à 
                    la problématique d’accessibilité de certains supports numériques partagés en entreprise, tels des 
                    graphiques utilisant des couleurs mals décernés par les personnes atteintes de daltonisme, des mails 
                    ou tout type de texte utilisant une police trop complexe, trop petite, avec des formes atypiques qui 
                    resteront illisibles pour les personnes victimes de déficiences visuelles. 
                    Dans un premier temps, l’outil permet l’immersion vers la malvoyance, nous avons l’ambition de développer
                     vers d’autres pathologies, d’autres handicapes d’ici fin 2021.
                </p>
            </div>
            
            <div class="image">
                <div class="logo">
                    <img src="../../images/logo_site.png">
                </div>
            </div>
        </div>
        
    </div>
</template>
<style src="../../css/site.css"></style>
<style src="./home.css"></style>