<template>
    <form method="post">
        <h1>
            Se Connecter
        </h1>
        <div>
            <label for="Identifiant">Identifiant :</label>
            <input type="text" id="name" name="user_name" placeholder="Entrez votre identifiant">
        </div>
        <div>
            <label for="Mot de Pasee">Mot de Passe :</label>
            <input type="password" id="password" name="password" placeholder="Entrez votre Mot de Passe">
        </div>
        <input class="bouton" type="button" value="Valider">
    </form>
</template>
<style src="./home.css"/>