<template>
    <div>
        <div class="container" style="margin-top: 150px;">
            <div class="texte">
                <h1 class="titre">La dyslexie</h1>
                <div class="description">
                    <p class="text-justify">
                        La <span style="font-weight: bold;"> dyslexie</span> est un trouble de la lecture et 
                        de l’écriture spécifique et durable qui apparaît chez l'enfant et l'adolescent. 
                        <br><br>
                        <span class="sous-titre" style="font-weight: bold;">Pour en savoir plus</span> <br>
                        La dyslexie est un trouble dont les causes ne sont pas suffisamment éclaircies et qui fait l'objet 
                        de nombreuses études et débats. Dans ce contexte, définir et diagnostiquer précisément la dyslexie 
                        reste un sujet de controverse.
                        
                        Le diagnostic, d'ordre médical, se fait selon les critères précis des classements de référence que 
                        sont la classification internationale des maladies (CIM) et le manuel diagnostique et statistique 
                        des troubles mentaux (DSM) (voir paragraphe diagnostic).
                        
                        La compréhension des mécanismes en cause dans la, ou les, dyslexie(s), a beaucoup évolué grâce à 
                        l'imagerie cérébrale qui a mis en évidence des corrélations avec l'utilisation de différentes aires 
                        cérébrales à la lecture, notamment moindres que celles impliquées dans le langage, mais aussi accrue 
                        d'autres aires.
                        <br><br>
                        <span class="sous-titre" style="font-weight: bold;">Conseils</span><br>
                        Privilégiez les contacts à l'oral plutôt qu'à l'écrit. Essayez de ne pas utiliser une police d'écriture trop petite
                        <br><br>
                        <span class="sous-titre" style="font-weight: bold;">Atelier</span>
                        <br>
                        L'image de droite se modifie pour montrer comment un dyslexie peut lire.
                    </p>
                </div>
            </div>

            <div class="image">
                <img src="../../images/dyslexie.gif">
            </div>
        </div>
    </div>
    
</template>

<style src="../../css/site.css"></style>