.container {
    display: flex;
    padding: 0%;
    margin: 20px 0 0 0 ;
    align-items: center;
    justify-content: space-evenly;
    width: 1600px;
    position: fixed;
    right:20px;
}

.container .description{
    font-size: 1.5em;
    margin: 0 40px 0 0;
}

.img {
    width: 600px;
}

.titre {
    font-size: 100px;
    text-align: center;
}

h1 {
    font-family:"Berlin Sans FB Demi"; 
}

.btn{
    background-color: #126595;
}