<template>
    <div>

        <div class="container">
            <div class="texte">
                <h1 class="titre">DMLA</h1>

                <div class="description">
                    <p>La <span style="font-weight: bold;">Dégénérescence Maculaire Liée à l’Age</span> est la maladie 
                        ophtalmologique la plus répandue dans les pays industrialisés. Elle atteint la rétine centrale, 
                        ce qui se traduit par une déformation des lignes puis par l’apparition d’une tache centrale permanente.
                        <br><br><span style="font-weight: bold;">Que veut dire DMLA ?</span><br> 
                        On constate que la dégénérescence maculaire liée l’âge peut survenir dès l’âge de 50 ans. C’est toutefois 
                        plutôt après 60 ou 65 ans que les premiers symptômes sont perçus. Cette dégénérescence de la macula touche 
                        plus de 30 millions de personnes à travers le monde et plus d’un million de personnes en France. Nous 
                        estimons actuellement que 1 à 10% des personnes âgées entre 50 et 65 ans, 10 à 20% entre 65 et 75 ans, 
                        et 25 à 30% au delà de 75 ans, sont atteintes par la dégénérescence maculaire liée à l’âge. Selon l’Organisation 
                        Mondiale de la Santé (OMS), la DMLA arrive en troisième position des causes de cécité dans le monde représentant 
                        8,7%. C’est la première cause de déficience visuelle dans les pays industrialisés. La DMLA est donc un véritable 
                        problème de santé publique et son importance risque encore d’augmenter du fait du vieillissement de notre 
                        population. En France, ce sont ainsi environ 150 000 personnes dont l’acuité visuelle est sévèrement réduite 
                        à cause de la DMLA, et 1 à 1,5 million de personnes atteintes par des formes de moindre gravité. Les conséquences 
                        sociales de cette maladie peuvent être importantes si elle n’est pas correctement prise en charge. Elle peut 
                        conduire à une perte importante d’autonomie. Pour la personne atteinte, les tâches quotidiennes peuvent devenir 
                        compliquées à réaliser.
                        </p>
                        <br>
                    <p><span style="font-weight: bold;">Atelier</span>
                        <br>Passez la souris au dessus de l'image pour voir comment une personne atteinte de DMLA voit</p>  
                </div>
            </div>
            
            <div class="image dmla">
                <img class="img" src="../../images/brochure.png">
            </div>
        </div>
    </div>
</template>

<style src="../../css/site.css"></style>
<style src="./dmla.scss"></style>
